<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSMessage</key>
			<string>performClassDumpFromService</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>ClassDump with ReverseEngineeringToolbox</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Unix Executable</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
</dict>
</plist>
